---
apiVersion: v1
kind: ConfigMap
metadata:
  name: example-module-dockerfile
  namespace: openshift-kmm
data:
  dockerfile: |
    ARG DTK_AUTO
    ARG KERNEL_VERSION
    FROM ${DTK_AUTO} as builder
    WORKDIR /build/
    RUN git clone -b main --single-branch https://github.com/kubernetes-sigs/kernel-module-management.git
    WORKDIR kernel-module-management/ci/kmm-kmod/
    RUN make
    FROM docker.io/redhat/ubi8:latest
    ARG KERNEL_VERSION
    RUN yum -y install kmod && yum clean all
    RUN mkdir -p /opt/lib/modules/${KERNEL_VERSION}
    COPY --from=builder /build/kernel-module-management/ci/kmm-kmod/*.ko /opt/lib/modules/${KERNEL_VERSION}/
    RUN /usr/sbin/depmod -b /opt
---
apiVersion: kmm.sigs.x-k8s.io/v1beta1
kind: Module
metadata:
  name: example-module
  namespace: openshift-kmm
spec:
  moduleLoader:
    serviceAccountName: default
    container:
      modprobe:
        moduleName: simple_kmod
      kernelMappings:
        - regexp: '^.*\.x86_64$'
          containerImage: quay.io/skoksal/minimal-driver:final
          build:
            dockerfileConfigMap:
              name: example-module-dockerfile
          sign:
            keySecret:
              name: my-signing-key
            certSecret:
              name: my-signing-key-pub
            filesToSign:
              - /opt/lib/modules/4.18.0-372.40.1.el8_6.x86_64/kmm_ci_a.ko
  imageRepoSecret:
    name: skoksal-robot-pull-secret
  selector: # top-level selector
    kubernetes.io/arch: amd64